<div class="container myContainer">

  <form class="form-horizontal" [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Register New User</h2>
        <hr>
      </div>
    </div>
    <!--Email-->
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">E-Mail Address</label>
      </div>
      <div class="col-md-6">
        <div class="form-group" [class.has-danger]="!email.valid && email.touched">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
            <input type="text" name="email" class="form-control" id="email"
                   placeholder="you@example.com" required autofocus [formControl]="email">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <!-- Put e-mail validation error messages here -->
            <p *ngIf="email.hasError('required')">必填項目</p>
            <p *ngIf="email.hasError('invalidEmail')">請輸入正確的 email</p>
          </span>
        </div>
      </div>
    </div>

    <!--Password-->
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group" [class.has-danger]="!password.valid && password.touched">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input type="password" name="password" class="form-control" id="password"
                   placeholder="Password" required [formControl]="password">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <i class="fa fa-close" *ngIf="password.hasError('required')">必填項目</i>
            <i class="fa fa-close" *ngIf="password.hasError('minlength')">最少 5 位數</i>
          </span>
        </div>
      </div>
    </div>

    <!--Confirm password-->
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Confirm Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group" [class.has-danger]="!confirm_password.valid && confirm_password.touched">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-repeat"></i>
            </div>
            <input type="password" name="password-confirmation" class="form-control"
                   id="password-confirm" placeholder="Password" required [formControl]="confirm_password">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <i class="fa fa-close" *ngIf="confirm_password.hasError('required')">必填項目</i>
            <i class="fa fa-close" *ngIf="confirm_password.hasError('minlength')">最少 5 位數</i>
            <i class="fa fa-close" *ngIf="signUpForm.hasError('mismatchedPasswords')">密碼與確認密碼不同</i>
          </span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-success" *ngIf="signUpForm.valid"><i class="fa fa-user-plus"></i> Register
        </button>
      </div>
    </div>
  </form>
</div>
